.header {
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    column-gap: 57px;
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #FF6060;
}

a.active {
    text-decoration: underline;
}

a.visited {
    text-decoration: none;
    color: #FF6060;
}

@media (max-width: 767px) {
    .header {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .logo {
        height: 40px;
    }

    .nav-header {
        font-size: 12px;
        column-gap: 10px;
    }
}